@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  padding: 1rem 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white);
  box-shadow: var(--box-shadow);
  transition: var(--transition);

  &__logo {
    font-size: 2.8rem;
    font-weight: bolder;
    color: var(--green);
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Great Vibes", cursive !important;
    font-weight: 600;
    font-style: normal !important;
    span {
      color: var(--green);
    }
  }

  &__nav {
    &-link {
      font-size: 1.7rem;
      border-radius: 0.5rem;
      padding: 0.5rem 1.5rem;
      margin: 0 15px;
      color: var(--light-color);
      transition: var(--transition);

      &:hover,
      &.active-link {
        color: var(--white);
        background-color: var(--green);
      }
    }
  }

  &__icons {
    display: flex;
    gap: 5px;

    span {
      width: 4.5rem;
      height: 4.5rem;
      font-size: 3.2rem;
      text-align: center;
      line-height: 4.5rem;
      cursor: pointer;
      border-radius: 50%;
      transition: var(--transition);

      &.menu {
        display: none;
      }

      &:hover {
        transform: rotate(360deg);
      }
    }
  }

  @media screen and (max-width: 768px) {
    &__nav {
      padding: 1rem;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: var(--white);
      border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
      border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

      &.show-menu {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }

      &-link {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: var(--grey);
      }
    }

    &__icons {
      span {
        &.menu {
          display: inline-block;
        }
      }
    }
  }

  @media screen and (max-width: 991px) {
    padding: 1rem 2rem;
  }
}
