.special-dish {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 9rem;

  &__content {
    flex: 1 1 45rem;
  }

  &__title {
    color: var(--black);
    font-size: 7rem;
    font-weight: 600;
  }

  &__subtitle {
    color: var(--green);
    font-size: 4rem;
  }

  &__description {
    color: var(--light-color);
    font-size: 2.2rem;
    padding: 0.5rem 0;
    line-height: 1.5;
  }
  &__menuImgDiv{
    position: relative;
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: auto 1.5rem;
    background-color: black;
    border-radius: 1rem;
    padding: 2rem;
  }
  &__image {
    flex: 1 1 45rem;

    img {
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    &__title {
      font-size: 5rem;
      font-weight: 600;
    }
    &__menuImgDiv{
      display: block;
    }
  }
  @media screen and (max-width: 1270px) {
    &__menuImgDiv{
      display: block;
    }
  }
}