.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 7%;
  background: var(--white);

  &__container {
    display: flex;
    justify-content: space-around;
    transition: var(--transition);
    margin: 4.5rem 0;
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: var(--transition);
    .title {
      padding: 0.5rem 0;
      font-size: 2.7rem;
      color: var(--black);
      transition: var(--transition);
    }
  }

  &__link {
    display: block;
    padding: 0.5rem 0;
    font-size: 1.7rem;
    color: var(--light-color);
    transition: var(--transition);
    text-transform: none;
    &:hover {
      color: var(--green);
      text-decoration: none;
    }
  }
  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
    font-size: 1.7rem;
    color: var(--light-color);
    transition: var(--transition);
    text-transform: none;
    &:hover {
      color: var(--green);
      text-decoration: none;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 3rem;
    text-align: center;
    font-size: 4.5rem;
    margin: 4.5rem 0;
    line-height: 4.5rem;
    border-radius: 50%;
    background-color: var(--grey);
    transition: var(--transition);
  }
  &__credit {
    text-align: center;
    text-transform: none;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    font-size: 2rem;
    color: var(--black);
    padding: 0.5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
    transition: var(--transition);

    a {
      color: var(--green);
      transition: var(--transition);
    }
  }

  @media screen and (max-width: 520px) {
    &__container {
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 2rem;
      margin: 4rem 0;
    }
    &__column {
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__icon{
      padding: 2.5rem;
      margin: 1rem 0;
    }
    &__column {
      .title {
        font-size: 3.5rem;
      }
    }
    &__link{
      font-size: 2rem;
      overflow:auto;
    }
  }
  @media screen and (max-width: 991px) {
    padding: 1rem 2rem;
  }
}
