.dishes {
  transition: var(--transition);

  &__container {
    margin: 4rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 4.5rem;
    transition: var(--transition);
  }
}
